doctype html
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/nm/bootstrap/dist/css/bootstrap.css')

    script(src="/nm/angular/angular.js" type="text/javascript")
    script(src="/nm/angular-ui-router/release/angular-ui-router.js" type="text/javascript")
    script(src="/nm/chart.js/dist/Chart.min.js" type="text/javascript")
    script(src="/nm/angular-chart.js/dist/angular-chart.min.js" type="text/javascript")
    script(src="/nm/underscore/underscore.js" type="text/javascript")
    script(src="/javascripts/myApp.js" type="text/javascript")
    script(src="/javascripts/controller/dashBoardController.js" type="text/javascript")
  body
    div.container
      block content
