<div id="filterContainer" class="row form-group">
    <select ng-model="selectedInterval" ng-change="changeselectedInterval(selectedInterval)" name="tipekamar" class="form-control">
        <option value="5000">5 sec</option>
        <option value="10000">10 sec</option>
        <option value="30000">30 sec</option>
        <option value="60000">1min</option>
    </select>
</div>
<div id="tileContainer" class="row">
    <div class="col-md-6 text-center">
        <canvas class="chart chart-line" chart-data="data" chart-labels="labels"
                chart-series="series" chart-click="onClick"></canvas>
    </div>
    <div class="col-md-6 text-center"><canvas class="chart chart-bar" chart-data="data" chart-labels="labels"
                                              chart-series="series" chart-click="onClick"></canvas></div>
    <div>
        <h5>Mongo data</h5>
        <div class="col-md-6 text-center"><canvas class="chart chart-doughnut" chart-data="mongoData" chart-labels="mongoLabels"
                                                  chart-click="onClick"></canvas></div>
        <div class="col-md-6 text-center" style="height:300px"><canvas class="chart  chart-horizontal-bar" chart-data="mongoData" chart-labels="mongoLabels"
                                                                       chart-click="onClick"></canvas></div>
    </div>

</div>